

footer{
    background-color:#424142;
    color:#fff;
    /*display: table-cell;*/
}

.footer, .push{
    height:10em;
}

#col_1_footer {
    float:left;
    position:relative;
    text-align: center;
    width:20%;
    padding-top:1em;
    padding-left:2em;
}
#col_2_footer {
    float:left;
    width:60%;
    padding-top:1em;
    text-align: center;
}
#col_3_footer {
    float:right;
    position:relative;
    width:20%;
    padding-top:1em;
}

#desktop_footer{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    padding-bottom:-150px;
}

#footer{
    color:#fff;
    background-color:#424142;
    font-size:15px;
    line-height:160%;
    position: relative;
    bottom:0;
    width: 100%;
    max-height: 30%;
}

@media (max-width: 830px) {
    #col_1_footer{padding-left:0em;}
    #col_2_footer{}
    #col_3_footer{padding-top:1em;vertical-align: text-top;}
}

@media (max-width: 620px) {
    .footer{height:25em;}
    #col_1_footer,#col_2_footer,#col_3_footer {width:100%;}
    #col_3_footer{padding-top:2em; text-align:center;}
}

