

footer{
    background-color:#424142;
    color:#fff;
    display: table-cell;
}

.footer, .push{
    height:10em;
}

#col_1_footer {
    float:left;
    position:relative;
    width:20%;
    padding-top:1em;
}
#col_2_footer {
    float:left;
    width:60%;
    padding-top:1em;
}
#col_3_footer {
    float:right;
    position:relative;
    width:20%;
    padding-top:1em;
}

#desktop_footer{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    padding-bottom:-150px;
}

#footer{
    color:#fff;
    background-color:#424142;
    font-size:15px;
    line-height:160%;
    position: relative;
    bottom:0;
    width: 100%;
    max-height: 30%;
}

#mobile_footer{display:none;}


/* --------------------------------------------
  mobile
-------------------------------------------- */
@media (max-width: 617px) {
#desktop_footer{display:none;}
#footer_info{text-align:center;}
#mobile_footer{display:block;}
}
/* --------------------------------------------
  END Mobile
-------------------------------------------- */
