body{
 background-image: url('http://www.getfreeimage.com/pictures/brushed-silver-metallic-background-pic.jpg');
}
.container_item{
	float:left;
	
}
.description{
	margin-left:410px;
	width:790px;
	margin-top:30px;
}


a.removeunderline {
	text-decoration: none !important;
	color:black;
	font-weight: bold;
}
#A100image,#whiteboardimage,#jobboardimage,#Apprenticeimage{
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px; border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
  width:800px;
  height:500px;
  margin-left:300px;
  
}
.list-group{
 width:250px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  border: 1px solid silver;
  background: linear-gradient(#fff, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
  
  margin-top:200px;
}
  
  .list-group-item {
     border: 1px solid silver;
	
  transition: all 0.3s ease-out;
  padding: 5px;
  color: #555;
  background: url(http://www.psdcore.com/tutorial-images/010_step1.jpg);
    color: #F00;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size:20px;
    font-family: impact, sans-serif;
    background-position: 58px 200px;
    opacity: 0.55;
	
}
h2{
background: url(http://1hdwallpapers.com/wallpapers/black_dot_texture.jpg);
    color: #F00;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size:35px;
    font-family: impact, sans-serif;
    background-position: 0px 0px;
}
#A100_project_description,#Whiteboard_project_description,#jobboard_project_description,#Apprentices_project_description{
	 -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  border: 8px solid white;
  transition: all 0.3s ease-out;
  padding: 5px;
  
 }
 b{
 text-align: center;
 }
 .Heading{
	background: url(http://1hdwallpapers.com/wallpapers/black_dot_texture.jpg);
    color: #F00;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size:40px;
    font-family: impact, sans-serif;
    background-position: 0px 0px;
	margin-left:550px;
 }