*{
    margin:0;
}

body,html {
    background-color: #f2f2f2;
    height: 100%; 
}

footer{
    background-color:#98B2CC;
}

ul {
    list-style: none;
}

.content{
	margin-top:20px;
	width:100%;
	height:100%;
}

.email, .phone {
    text-decoration: none;
    color: white;
}

.footer, .push{
    height:10em;
}

.imagewidth{
	width:100%;
	height:100%;
	border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 2px Solid #FFFFFF;
}

.row{
	margin-bottom:10px;
}

.teamHeader {
    font-weight: bold;
    font-size: 175%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height:100;
    margin: 0 auto -10em;
}

#insert_text {
    position: relative;
    padding-bottom: 15px;
    font-size: 18px;
    color:black;
}

